.login {
  background-color: #420FA9;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 30vw;
}

.login h1 {
  margin-top: 200px;
  font-size: 50px;
  /* color: #04052E; */
}

.login p {
  font-size: 30px;
  text-align: center;
}
