.webchat-screen {
  background-color: white;
  display: flex;
  max-height: 100vh;
}

.webchat-screen main {
  overflow: scroll;
  overflow-x: hidden;
  font-size: 18px;
  height: 85vh;
  width: 80vw;
}

.webchat-message {
  color: #420FA9;
  display: flex;
  margin-right: 30px;
  flex-direction: column;
}

.webchat-message section {
  background-color: #d9d9d9;
  border-radius: 10px;
  min-height: 70px;
  min-width: 400px;
  max-width: 80%;
}

.webchat-message h3 {
  font-weight: normal;
  margin-left: 20px;
}

.webchat-message p {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.form-typing {
  background-color: white;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.webchat-screen form {
  align-items: flex-end;
  display: flex;
  justify-content: space-evenly;
  width: 75vw;
}

.webchat-screen input {
  height: 80px;
  background-color: #420FA9;
  border: none;
  border-radius: 35px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 60vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.644);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.644);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.644);
}

.webchat-screen button {
  background-color: #82D173;
  border: none;
  border-radius: 50%;
  color: white;
  height: 80px;
  width: 80px;
}

.webchat-screen button * {
  display: flex;
  margin-left: 14px;
  height: 45px;
  width: 45px;
}

.online-users {
  background-color: #420FA9;
  color: white;
  margin-right: 50px;
  height: 100vh;
  width: 20vw;
}

.online-users * {
  margin-left: 20px;
}

.online-users h1 {
  font-size: 40px;
  margin-top: 70px;
}

.online-users div {
  align-items: center;
  display: flex;
}

.online-users li {
  font-size: 25px;
  list-style: none;
}

.radio-button-online {
  color: #09ee09;
}

.userTyping {
  align-items: center;
  display: flex;
  margin-left: 15px;
}

@media (max-width: 1500px) {
  .online-users {
    width: 100%;
    margin-right: 0px;
  }

  .online-users * {
    margin-left: 10px;
  }

  .webchat-screen main {
    width: 75vw;
    margin-left: 20px;
  }
}

@media (max-width: 870px) {
  .webchat-screen main {
    width: 65vw;
  }
}

@media (max-height: 900px) {
  .webchat-screen main {
    height: 83vh;
  }
}
