.webchat-screen {
  background-color: white;
  display: flex;
  max-height: 100vh;
}

.webchat-screen main {
  overflow: scroll;
  overflow-x: hidden;
  font-size: 18px;
  height: 91vh;
  width: 80vw;
}

.webchat-message {
  color: #5e17eb;
  display: flex;
  margin-right: 30px;
  flex-direction: column;
}

.webchat-message section {
  background-color: #d9d9d9;
  border-radius: 10px;
  min-height: 70px;
  width: 400px;
}

.webchat-message h3 {
  font-weight: normal;
  margin-left: 20px;
}

.webchat-message p {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.webchat-screen form {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 75vw;
}

.webchat-screen input {
  height: 80px;
  background-color: #5e17eb;
  border-radius: 35px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 65vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.644);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.644);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.644);
}

.webchat-screen button {
  background-color: rgb(123, 211, 123);
  color: white;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.webchat-screen button * {
  display: flex;
  margin-left: 14px;
  height: 45px;
  width: 45px;
}

.online-users {
  background-color: #5e17eb;
  color: white;
  margin-right: 50px;
  height: 100vh;
  width: 20vw;
}

.online-users * {
  margin-left: 20px;
}

.online-users h1 {
  font-size: 50px;
  margin-top: 70px;
}

.online-users div {
  align-items: center;
  display: flex;
}

.online-users li {
  font-size: 25px;
  list-style: none;
}

.radio-button-online {
  color: rgb(9, 238, 9);
}
