.login {
  background-color: #5e17eb;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 30vw;
}

.login p {
  font-size: larger;
}
